@layer markee {
  markee-table-of-contents {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    position: sticky;
    inset-block-start: calc(var(--mk-header-height) + 1rem);
    height: 100%;
    max-height: calc(100vh - 1rem - var(--mk-header-height));

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      ul {
        padding-inline-start: 1rem;
      }
    }

    ul:not(:is(ul ul)) {
      width: max-content;
      padding-block-end: 1rem;
    }

    li > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--mk-color-text);
      margin-block-start: 0.5em;
    }

    li[data-passed='true'] > a {
      opacity: 0.5;
    }

    li[data-current='true'] > a {
      opacity: 1;
      font-weight: 600;
      color: var(--mk-color-primary);
    }
  }
}
