@layer markee {
  markee-draft {
    display: block;
    position: relative;
    padding-inline: 0.5rem;
    margin-inline: -0.5rem;

    background: repeating-linear-gradient(
      60deg,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1),
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 0.625rem,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 0.625rem,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 1.25rem
    );
    border-inline-start: 0.25rem solid
      oklch(from var(--mk-admonition-color-warning) l c h / 0.5);
    border-radius: 0.25rem;
  }
}
