@layer markee {
  markee-mobile-navigation {
    button {
      all: unset;
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--mk-color-background);
      }

      &:focus-visible {
        outline: 0.125rem solid var(--mk-color-primary);
        outline-offset: 0.125rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    ul:not(:is(ul ul)) {
      padding-block-end: 1rem;
    }

    li > markee-mobile-navigation-item > a,
    li > markee-mobile-navigation-toc > a,
    header {
      text-decoration: none;
      color: var(--mk-color-text);
      padding-block: 0.5rem;
      width: 100%;
      flex: 1;
      cursor: pointer;
      display: block;
    }

    li {
      padding-inline-start: 1rem;
      border-block-start: 1px solid var(--mk-color-border);
    }

    header {
      font-weight: 600;
      padding-inline: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      button:last-child {
        margin-inline-start: auto;
      }
    }

    li[data-selected='true'] > markee-mobile-navigation-item > a {
      font-weight: 600;
      color: var(--mk-color-primary);
    }

    [popover] {
      background-color: var(--mk-color-background-light);
    }
  }

  markee-mobile-navigation-toc {
    display: contents;
  }

  markee-mobile-navigation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;

    a:focus-visible {
      outline: 0.125rem solid var(--mk-color-primary);
      outline-offset: 0.125rem;
    }
  }
}
