@layer markee {
  markee-color-scheme-manager {
    cursor: pointer;

    --fa-display: inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2rem;

    &:focus-visible {
      outline: 0.125rem solid var(--mk-color-primary);
      outline-offset: 0.125rem;
    }
  }
}
