@layer markee {
  markee-draft {
    display: block;
    position: relative;
    padding-inline: 0.5rem;
    margin-inline: -0.5rem;

    background: repeating-linear-gradient(
      60deg,
      color(from var(--mk-admonition-color-warning) srgb r g b / 0.05),
      color(from var(--mk-admonition-color-warning) srgb r g b / 0.05) 10px,
      color(from var(--mk-admonition-color-warning) srgb r g b / 0.1) 10px,
      color(from var(--mk-admonition-color-warning) srgb r g b / 0.1) 20px
    );
    border-left: 0.25rem solid
      color(from var(--mk-admonition-color-warning) srgb r g b / 0.5);
    border-radius: 0.25rem;
  }
}
