@layer markee {
  * {
    box-sizing: border-box;
  }

  html[class] {
    overflow: visible;
  }

  body {
    --mk-color-text: var(--markee-color-text, oklch(0% 0 0));
    --mk-color-hint: var(--markee-color-hint, oklch(64.5% 0 248.1));
    --mk-color-navlink: var(--markee-color-navlink, oklch(26% 0 248.2));
    --mk-color-primary: var(--markee-color-primary, oklch(57% 0.2 260));
    --mk-color-primary-darker: var(
      --markee-color-primary-darker,
      oklch(49.5% 0.1 251.6)
    );
    --mk-color-background: var(--markee-color-background, oklch(98% 0 247.8));
    --mk-color-background-light: var(
      --markee-color-background-light,
      oklch(100% 0 0)
    );
    --mk-color-background-code: var(
      --markee-color-background-code,
      oklch(98% 0 247.8)
    );
    --mk-color-background-mark: var(
      --markee-color-mark,
      oklch(62.5% 0.2 250.3 / 0.2)
    );
    --mk-color-background-target: var(
      --markee-color-background-target,
      oklch(62.5% 0.2 250.3 / 0.2)
    );
    --mk-color-border: var(--markee-color-border, oklch(94% 0 247.9));
    --mk-color-border-blockquote: var(
      --markee-color-border-blockquote,
      oklch(86.5% 0 248)
    );
    --mk-max-width: var(--markee-max-width, 100rem);
    --mk-header-height: var(--markee-header-height, 3rem);
    --mk-footer-height: var(--markee-footer-height, 0rem);
    --mk-color-outdated: var(
      --markee-color-outdated,
      var(--mk-admonition-color-warning)
    );

    --private-heading-font-scale: 1;
  }

  body[data-color-scheme='dark'] {
    --mk-color-text: var(--markee-color-text, oklch(83.5% 0 0));
    --mk-color-hint: var(--markee-color-hint, oklch(86.5% 0 248));
    --mk-color-navlink: var(--markee-color-navlink, oklch(83.5% 0 0));
    --mk-color-background: var(--markee-color-background, oklch(19% 0 0));
    --mk-color-background-light: var(
      --markee-color-background-light,
      oklch(30% 0 0)
    );
    --mk-color-background-code: var(
      --markee-color-background-code,
      oklch(24% 0 0)
    );
    --mk-color-background-mark: var(--markee-color-mark, oklch(78% 0.1 243.8));
    --mk-color-background-target: var(
      --markee-color-background-target,
      oklch(78% 0.1 243.8)
    );
    --mk-color-border: var(--markee-color-border, oklch(25% 0 0));
    --mk-color-border-blockquote: var(
      --markee-color-border-blockquote,
      oklch(38% 0 0)
    );
  }

  html,
  body {
    /* Typography */
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Box */
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
  }

  body {
    color: var(--mk-color-text);
    background-color: var(--mk-color-background-light);
  }

  markee-root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #markee-main {
    display: flex;
  }

  #markee-section-left {
    grid-area: left;
  }

  #markee-section-right {
    grid-area: right;
  }

  #markee-section-main {
    grid-area: main;
    min-width: 0;
    max-width: 56rem;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block-end: 10rem;
  }

  #markee-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 0.5rem;
    height: var(--mk-header-height, 3rem);
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    background-color: var(--mk-color-background-light);
    border-block-end: 1px solid var(--mk-color-border);

    markee-header-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  content-grid[class],
  card-grid[class] {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
    margin: 1em 0;
  }

  card-grid[class] {
    > * {
      margin: 0;
    }
    > *:not(.mk-admonition) {
      border: 1px solid var(--mk-color-border);
      background-color: var(--mk-color-background-light);
      border-radius: 0.1875rem;
      display: block;
      padding: 0.75rem;

      > p:first-child {
        margin-block-start: 0;
      }

      > p:last-child {
        margin-block-end: 0;
      }
    }
  }

  @media (max-width: 75rem) {
    body {
      --private-heading-font-scale: 0.9;
    }

    #markee-section-right {
      display: none;
    }
  }

  @media (max-width: 60rem) {
    body {
      --private-heading-font-scale: 0.75;
    }

    #markee-section-left {
      display: none;
    }
  }

  @media (max-width: 40rem) {
    body {
      --private-heading-font-scale: 0.66;
    }
  }
}
