@layer markee {
  markee-draft-warning:not(:empty) {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-block-end: 2rem;

    background: repeating-linear-gradient(
      60deg,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1),
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 0.625rem,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 0.625rem,
      oklch(from var(--mk-admonition-color-warning) l c h / 0.1) 1.25rem
    );
    border-inline-start: 0.25rem solid
      oklch(from var(--mk-admonition-color-warning) l c h / 0.5);
    border-radius: 0.25rem;

    & > strong {
      display: contents;
    }
  }
}
