@layer markee {
  markee-initial-loading {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    p {
      font-size: 1.5rem;
      font-variant-ligatures: none;
    }
  }
}
