[data-theme='flow'] {
    & {
        --markee-color-background-code: oklch(28% 0 260);
    }

    &[data-color-scheme='dark'] {
        --markee-color-background-code: oklch(17.5% 0 264);
    }

    .mk-prism-title {
        border-block-end: none;
        margin-block: -1.5rem 0.25rem;
        margin-inline: -1.5rem;
        opacity: 0.7;
        color: oklch(100% 0 0);
    }

    pre[class*="language-"] {
        padding: 1.5rem;
        background-color: var(--markee-color-background-code);
    }

    div.code-toolbar > .toolbar.toolbar > .toolbar-item > button {
        background: transparent;
    }
}